<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmation</title>
    <link rel="icon" type="image/x-icon" href="https://bit.ly/305-vacation">
    <link rel="stylesheet" href="style/styles.css">
  </head>
  <body>
    <div class="card">
      <div id="thank-you">
        <h2>Thank you for your request!</h2>
        <p>Your dream vacation is one step closer.</p>
        <a href="/" class="back-link">Go back to Home</a>
      </div>
    </div>
  </body>
</html>