<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation Booking</title>
    <link rel="icon" type="image/x-icon" href="https://bit.ly/305-vacation">
    <link rel="stylesheet" href="style/styles.css">
</head>
<body>

    <div class="card" id="app-container">
        <div id="form-view">
            <header class="banner">
                <h1>Book Your Dream Vacation</h1>
            </header>

            <form id="vacationForm" action="/submit-order" method="post">
                <div class="field-group">
                    <label for="destination">Destination</label>
                    <select id="destination">
                        <option value="">Choose a destination...</option>
                        <option value="Bali, Indonesia">Bali, Indonesia</option>
                        <option value="Paris, France">Paris, France</option>
                        <option value="Tokyo, Japan">Tokyo, Japan</option>
                        <option value="Maldives">Maldives</option>
                        <option value="New York City, USA">New York City, USA</option>
                    </select>
                    <div id="destError" class="error"></div>
                </div>

                <div class="form-row">
                    <div class="field-group">
                        <label for="departureDate">Departure Date</label>
                        <input type="date" id="departureDate" name="departureDate">
                        <div id="dateError" class="error"></div>
                    </div>
                    <div class="field-group">
                        <label for="travelers">Number of Travelers</label>
                        <input type="number" id="travelers" name="travelers" min="0"value="0">
                        <div id="travError" class="error"></div>
                    </div>
                </div>

                <button type="submit">Find My Vacation</button>
            </form>
        </div>
    </div>

    <footer>
        <a href="https://github.com/tonymythical/midterm.git">Go To GitHub Repository</a>
    </footer>

    <script src="js/midterm.js"></script>
</body>
</html>